<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu.dg.repository.FocusUserRepository">
    <resultMap id="m_focus_user" type="com.hu.dg.domain.FocusUser">
        <id column="f_id" property="id"/>
        <result column="f_user_id" property="userId"/>
        <result column="f_focus_id" property="focusId"/>
    </resultMap>
    <resultMap id="m_user" type="com.hu.dg.domain.User">
        <id column="f_id" property="id"/>
        <result column="f_nickname" property="nickname"/>
        <result column="f_real_name" property="realName"/>
        <result column="f_email" property="email"/>
        <result column="f_email_validate" property="emailValidate"/>
        <result column="f_status" property="status"/>
        <result column="f_time" property="time"/>
    </resultMap>
    <insert id="create" parameterType="com.hu.dg.domain.FocusUser">
insert into m_focus_user ( f_id,f_user_id,f_focus_id)
values (#{id,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{focusId,jdbcType=INTEGER})
</insert>
    <delete id="delete">delete from m_focus_user where f_id=#{id}</delete>
    <select id="find" resultMap="m_focus_user">
    select * from m_focus_user where f_user_id=#{userId} and f_focus_id=#{focusId}
    </select>

    <select id="getMaxId" resultType="int">select IFNULL(max(f_id),10000) FROM m_focus_user</select>
    <select id="listFocusUser" resultMap="m_user">
        select u.f_id,u.f_nickname,u.f_real_name,u.f_status,u.f_time,u.f_email,u.f_email_validate
        from m_focus_user f
        left join m_user u on f.f_focus_id=u.f_id
        where f.f_user_id=#{userId} and u.f_status='OPEN'
        order by f.f_id limit #{start},#{size}
    </select>
    <select id="getFocusUserCount" resultType="int">
    select count(f_id) FROM m_focus_user
    where f_user_id=#{userId}
    </select>

    <select id="listFans" resultMap="m_user">
        select u.f_id,u.f_nickname,u.f_real_name,u.f_status,u.f_time,u.f_email,u.f_email_validate
        from m_focus_user f
        left join m_user u on f.f_user_id=u.f_id
        where f.f_focus_id=#{userId} and u.f_status='OPEN'
        order by f.f_id limit #{start},#{size}
    </select>
    <select id="getFansCount" resultType="int">
        select count(f_id) FROM m_focus_user
        where f_focus_id=#{userId}
    </select>
</mapper>